<html>
	<head>
		<title>Karthik's Blog</title>
	</head>
<body>
    <div>
	<h1><a href="/">Karthik's Blog</a></h1>
    </div>

    <div>
	<h2><a href="">My first post</a></h2>
	<p> Hey, this is my first post. More stuff coming soooon. xP Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
   	<p>published: 11.04.2020, 15:51</p>
    </div>

    <div>
	<h2><a href="">My second post</a></h2>
	<p>So this is my second post. Stay tuned!Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        <p>published: 11.04.2020, 15:55</p>
    </div>
</body>
</html>